@font-face {
    font-family: "Poppins";
    src: url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot");
    src: url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff")format("woff"), url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.svg#Poppins")format("svg");
}
@font-face {
    font-family: "Comfortaa";
    src: url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.eot");
    src: url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.woff")format("woff"), url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/dc1c40d3357c81cfea1efc81deea2f90.svg#Comfortaa")format("svg");
}
.swal-overlay--show-modal {
    filter: brightness(1);
}
.swal-modal {
    padding: 1.2rem;
}
.swal-title {
    font-family: "Comfortaa";
}
.swal-text {
    font-family: "Poppins";
    text-align: center;
}
.swal-button--confirm {
    background-color: #1269d6 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}
.swal-icon--error__line {
    background-color: #ff4546 !important;
}
.swal-icon--error {
    border-color: #ff4546 !important;
}
.swal-icon--warning {
    border-color: #FE851C !important;
}
.swal-icon--warning__body {
    background-color: #FE851C !important;
}
.swal-icon--warning__dot {
    background-color: #FE851C !important;
}
.swal-icon--success {
    border-color: #58D630 !important;
}
.swal-icon--success__line {
    background-color: #58D630 !important;
}
.swal-icon--success__ring {
    border: 4px solid rgb(116, 230, 79, 0.5);
}
.swal-icon--info:after, .swal-icon--info:before {
    background-color: #58C7F4 !important;
}
.swal-icon--info {
    border-color: #58C7F4 !important;
}
/*------------------Hover & Buttons-----------------*/

.swal-button--confirm {
    background-color: #1269d6 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    font-family: "Comfortaa";
}
.swal-button--cancel {
    background-color: #EAEDED !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    font-family: "Comfortaa";
}
.swal-button--confirm:hover {
    color: #fff !important;
    background-color: #0D54AE !important;
    border-color: #0D54AE !important;
}
.swal-button--cancel:hover {
    color: #555 !important;
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
}